*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

/* ============= Heder CSS ============== */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #040b14;
    padding: 0 15px;
    z-index: 999;
    overflow-y: auto;
    transition: all .5s ease-in-out;
}

#header .profile img {
    width: 130px;
    display: block;
    margin: 15px auto;
    border: 3px solid #bbf84b;
}

#header .profile h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-align: center;
    color: #f0f5f3;
}

/* ============= Navigration CSS for Desktop ============== */
.btn:hover{
    transform: scale(1.1);
    box-shadow: 5px 0 25px #cbe922;
}

.nav-manu {
    padding: 20px 0 0 0;
}

.nav-manu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-manu ul li {
    position: relative;
    white-space: nowrap;
}

.nav-manu a,
.nav-manu a:focus {
    display: flex;
    align-items: center;
    color: #e48e1f;
    padding: 10px 15px;
    margin-bottom: 8px;
    font-size: 18px;
    transition: .3s;
    font-weight: 600;
}

.nav-manu a i,
.nav-manu a:focus i {
    font-size: 16px;
    text-align: center;
    padding-right: 8px;
    color: #6f7180;
}
.nav-manu .active,
.nav-manu .active:focus{
    text-decoration: none;
   
}

.nav-manu a:hover::before,
.nav-manu li a:hover {
    text-decoration: none;   
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.nav-manu a:hover i,
.nav-manu .active:focus i,
.nav-manu li:hover a i {    
    color: #149ddd;   
    box-shadow: 0 0 5px #ffee10;    
}

/* ============= Navigration CSS for Mobile ============== */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 998;
    border: 0;
    font-size: 24px;
    outline: none !important;
    background: #149ddd;
    color: #fff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}
/*===========Hero Section Style===========*/
#hero
{
   
    width: 100%;
    height: 100vh;   
    background: url('../img/hero1.jpeg') center center;         
    background-size: cover;
    border-radius: 50%;
    max-width: 1040px;
    max-height: fit-content;    
}

#hero::before
{    
    content: '';
    background: rgba(7, 7, 7, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#hero .hero-container
{
    position: relative;
    z-index: 2;
    min-width: 300px;
}
#hero .hero-container h1
{
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
#hero .hero-container p
{
    color: #fff;
    margin: 50px;
    margin-left: 150px;
    font-size: 32px;
}
#hero .hero-container p span
{    
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
    filter: drop-shadow(10px 0px 40px #f3e308) drop-shadow(0 0px 40px #abf009); 
    background: #2f2f33;   
    padding: 2px;
    letter-spacing: 2px;
    border-bottom: 4px solid #0e0aec;
}

@media (min-width:992px)
{
    
    #hero
    {
        margin-left: 300px;
        margin-right: 300px;                            
        background-attachment: fixed;
    }
}
@media (max-width:768px)
{
    #hero .hero-container h1
    {
        font-size: 32px;
        line-height: 28px;
    }
    #hero .hero-container p
    {
        margin-bottom: 30px;
        font-size: 22px;
    }
    #hero .hero-container p span
    {
        font-size: large;
    }
}

/* ============== Main Area Style =============== */
#main {

    margin-left: 300px;

}

.container, .container-fluid {
   
    padding: 0 30px;
}

@media (max-width:992px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }

    .container, .container-fluid {
        padding: 0 13px;
    }
}

/* ============== General Section Style =============== */
section {
    padding: 60px 0;
    overflow: hidden;

}

.section-bg {   
    background: #fff;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 4px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

/* ============== General Section Style =============== */
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul li strong {
    margin-right: 10px;
    font-size: 18px;
    color: #173b6c;
    line-height: 0;
}

.about .content ul li i {
    margin-right: 5px;
    font-size: 16px;
    color: #149ddd;
    line-height: 0;
}

.about .content p:last-child {
    margin-bottom: 0;
}

/* ============== General Section Style =============== */
.fact {
    padding-bottom: 30px;
}

.fact .count-box {
    padding: 30px;
    width: 100%;
}

.fact .count-box i {
    display: block;
    font-size: 44px;
    color: #149ddd;
    float: left;
    line-height: 0;
}

.fact .count-box span {
    display: block;
    font-size: 48px;
    color: #173b6c;
    font-weight: 700;
    margin-left: 60px;
}

.fact .count-box p {
    padding-top: 15px;
    margin-left: 50px;
    font-size: 17px;
    color: #173b6c;
}

/* ============== Skill Section Style =============== */
.skills .progress {
    height: 80px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 0;
    margin-bottom: 6px;
    text-transform: uppercase;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #040b14;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: #f0f5f3;
    height: 20px;
}

.skills .progress-bar {
    width: 1px;
    height: 20px;
    background: linear-gradient(20deg, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff);
    transition: .9s;
    animation: animate .3s linear infinite;
    background-size: 400%;
}

/* ============== Resume Section Style =============== */
.resume .section-title h4 {
    font-size: 36px;
    font-weight: 700;
    color: #173b6c;
}

.resume .section-title address {
    font-size: 18px;
    font-weight: 500;
    color: #040b14;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px 0;
    color: #040b14;
}

.resume .resume-items {
    padding: 0 0 20px 20px;
    font-size: 18px;
    margin-top: -2px;
    border-left: 4px solid #173b6c;
    position: relative;
}

.resume .resume-items h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #040b14;
    margin-bottom: 10px;
    display: inline-block;
}

.resume .resume-items h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    background: #d0bbe0;
    padding: 5px 15px;
    display: inline-block;
}

.resume .resume-items ul {
    padding-left: 20px;
}

.resume .resume-items ul li {
    padding-bottom: 10px;
}

.resume .resume-items:last-child {
    padding-bottom: 0px;
}

.resume .resume-items::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #f0f5f3;
    border: 2px solid #149ddd;
    top: 0;
    left: -18px;
}

/* ============== Start Portfolio Section Style =============== */
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-filter {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #f0f5f3;
    border-radius: 50px;
    padding: 2px 50px;
}

.portfolio #portfolio-filter li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all .3s ease-in-out;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
    color: #149ddd;
}

.portfolio #portfolio-filter li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transform: .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

}

.portfolio .portfolio-wrap::before {
    content: '';
    background: rgba(255, 255, 255, .5);
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-link {
    opacity: 1;
    left: 0;
    right: 0;
    bottom: -65px;
    z-index: 3;
    position: absolute;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-link a {
    color: #fff;
    font-size: 28px;       
    text-align: center;
    background: rgba(20, 157, 221, .70);
    transition: .3s;
    width: 47%;
}

.portfolio .portfolio-wrap .portfolio-link a:hover {
    color: rgba(20, 157, 221, .95);
}

.portfolio .portfolio-wrap .portfolio-link a+a {
    border-left: 1px solid #149ddd;
}

.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-link {
    opacity: 1;
    bottom: 0;
}

.portfolio .portfolio-wrap img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 786px) {
    .portfolio .portfolio-wrap img {
        padding: 10px 0 0px 15px;
        width: 500px;
    }
}

/* ============== Service Section Style =============== */
.services .icon-box {
    margin-bottom: 30px;
}

.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #149ddd;
    transition: .5s;
    border: 1px solid #149ddd;
}

.services .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

.services .icon-box:hover .icon {
    background: #fff;
}

.services .icon-box:hover .icon i {
    color: #149ddd;
}

.services .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 26px;
}

.services .title a {
    text-decoration: none;
    color: #8f6a07;
}

.services .title a:hover {
    color: #149ddd;
}

.services .icon-box p {
    padding: 10px;
    margin-left: 80px;
    font-size: 20px;
    text-align: justify;
}

/* ============== Testimonials Section Style =============== */
.testimonial .testimonial-carousel,
.testimonial .testimonial-slider {
    overflow: hidden;
}

.testimonial .testimonial-items {
    box-sizing: content-box;
    text-align: center;
    min-height: 320px;
}

.testimonial .testimonial-items .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial .testimonial-items h4 {
    font-size: 20px;
    font-weight: bold;
    color: #06041f;
    margin: 10px 0 5px 0;
}

.testimonial .testimonial-items h5 {
    font-size: 15px;
    color: #6f7180;
    margin: 0;
}

.testimonial .testimonial-items .quote-alt-left,
.testimonial .testimonial-items .quote-alt-right {
    color: #c3e845;
    font-size: 26px;
}

.testimonial .testimonial-items .quote-alt-left {
    display: inline-block;
    right: -5px;
    position: relative;
}

.testimonial .testimonial-items .quote-alt-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonial .testimonial-items p {
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 18px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, .2);
}

.testimonial .testimonial-items p::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid #c3e845;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
}

.testimonial .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonial .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 1;
    border: 1px solid #149ddd;
}

.testimonial .swiper-pagination .swiper-pagination-bullet-active {
    background: #149ddd;
}

/* ============== Contact Section Style =============== */
.contact {
    margin-bottom: 130px;
}

.contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.6);

}

.contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #d1e0ce;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.contact .info h4 {
    padding-left: 60px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #040b14;
}

.contact .info p {
    padding: 0 0 10px 60px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #046ef8;
}

.contact form {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.6);

}

/* ============== Footer Section Style =============== */
#footer {
    padding: 20px;
    color: #fff;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: -5px;
    width: 300px;
    z-index: 9999;
}

/* ============== Footer Section Style =============== */
.back-to-top {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background: #046ef8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .4s;
    right: 15px;
    bottom: 15px;
    z-index: 996;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top i:hover {
    background: #fff;
    color: #046ef8;
    border-radius: 50%;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}